<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="color-scheme" content="light dark" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Room does not exist</title>
        <link rel="shortcut icon" href="/static/common/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/static/common/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/static/common/style.css" />
        <link rel="stylesheet" href="/static/no_room/style.css" />
    </head>
    <body>
        <div></div>

        <div>
            <div class="header">Room does not exist</div>
            <a href="/">Go back</a>
        </div>

        <div></div>
    </body>
</html>
